* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #757575;
}

.active{
  color: #fff;
}

.list li a:hover {
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  top: 0;
  width: 100%;
  position: fixed;
  padding: 1em 0;
  z-index: 1000;
  /* Ensure navbar is on top */
  background-color: #0f0f0f;
  border-bottom: 1px solid #757575;
  opacity: 1;
}

.navbar-contents-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 2em;
  list-style: none;
  color: #757575;
  animation: fadeIn 2s ease-in-out;
}

.logo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-top: 1em;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 30px;
}

.logo-img img {
  width: 3vw;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact h1 {
  font-size: 3rem;
  color: #ffffff;
}

.contact p {
  font-size: 1.5rem;
  color: #868686;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  margin-left: 5rem;
  margin-top: 4rem;
}

.contact .container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .container .left input {
  width: 30rem;
  height: 4rem;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: black;
}

#section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .container .left button {
  width: 10rem;
  height: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(rgb(29, 29, 29), #040404);
  color: rgb(192, 192, 192);
  cursor: pointer;
  box-sizing: border-box;
}

/* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
  position: relative;
  width: 35rem;
  height: 35rem;
  background: rgb(255, 0, 179);
  background: linear-gradient(137deg,
      rgb(255, 0, 179) 0%,
      rgba(0, 212, 255, 1) 100%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
}

.card .content {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 30px;
  transition: 0.3s ease;
}

.card::after {
  content: "";
  background-color: #181818;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

.right .card .content a {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding: 1rem;
  text-decoration: none;
}

.right .card .content a:hover {
  color: #ff00b8;
}

.right .card .content p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding: 1rem;
}