*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} 

html,body{
    width: 100%;
    height: 100%;
    min-height: 400vh;
    background: #020202;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    top: 0;
    position: fixed;
    margin-top: 2em;
    padding: 2em;
    width: 100%;
    display: flex;
    color: #fff;
    z-index: 2;  
}  

.header:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #0f0f0f;
    z-index: 2;
}

.header > div{
    flex: 1;
    text-align: center;
}
.header .letter img{
    display: block;
    padding: 0 0.5em;
    /* border: 2px solid red; */
}


.nav{
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    z-index: 1;
    background-color: #0f0f0f;
    border-bottom: 1px solid #757575;
}

.navbar-contents-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2em;
    list-style: none;
    color: #fff;
}
.logo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    z-index: 2
}

.logo-img{
    position: relative;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 30px;
    
    
}

.logo-revealer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
}

.logo-revealer:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    background: #0f0f0f;
    z-index: 2;
}

.website-content{
    width: 100%;
    top: 0;
    padding-top: 700px;
    z-index: 0;
}

.website-content-wrapper{
    width: 80%;
    margin: 0 auto;
}


.hero{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.125;
    letter-spacing: -0.012em;
    
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}


p{
    color: #757575;
    font-size: 16px;
    padding-top: 20px;
    
}

.ball {
    height: 400px;
    width: 400px;
    border-radius: 100px;
    margin: 0 auto;
    top: 50vh;
    left: 50vw;
    animation: spinBall 4s linear infinite;
    box-shadow: inset 0 0 100px #fff, 
        inset 6px 0 100px violet, 
        inset -6px 0 100px #0ff, 
        inset 6px 0 30px violet, 
        inset -6px 0 30px #0ff, 
        0 0 100px #fff, -4px 
        0 100px violet, 4px 0 100px #0ff;
}
 
@keyframes spinBall {
    100% {
        transform: rotate(360deg);
    }
}