*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} 

html,body{
    width: 100%;
    height: 100%;
    min-height: 400vh;
    background: #0f0f0f;
    font-family: 'Neue Montreal', sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    top: 0;
    position: fixed;
    margin-top: 2em;
    padding: 2em;
    width: 100%;
    display: flex;
    color: #fff;
    z-index: 2;
}    


.header:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 100%;
    background: #0f0f0f;
    z-index: 2;
}

.header > div{
    flex: 1;
    text-align: center;
}
.header .letter img{
    display: block;
}

.nav{
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3emm 0;
    z-index: 1;
}

.logo{
    position: relative;
}

.logo a{
    position: relative;
    top: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "TIMMONS NY 2.0", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.logo-revealer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
}

.logo-revealer:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    background: #0f0f0f;
    z-index: 2;
}

.website-content{
    width: 100%;
    top: 0;
    padding-top: 500px;
    z-index: 0;
}

.website-content-wrapper{
    width: 70%;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: #757575;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.125;
    letter-spacing: -0.012em;
}

.img{
    width: 100%;
    margin: 60px 0;
    overflow: hidden;
    border-radius: 40px;
}

p{
    color: #757575;
    font-size: 16px;
}